<p>events works!</p>
<mat-card class="example-card" *ngFor="let event of events">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{event.title}}</mat-card-title>
    <mat-card-subtitle>{{event.timestampStart * 1000 | date: 'dd.MM.yyy'}} - {{event.timestampEnd * 1000 | date: 'dd.MM.yyy'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{event.urlThumb}}" alt="{{event.urlThumb}}">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>
