<form [formGroup]="nForm" (ngSubmit)="submitnForm()">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" required minlength="1">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Creator" formControlName="creator">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start</mat-label>
    <input matInput placeholder="date" formControlName="timestampStart" [matDatepicker]="startpicker">
    <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
    <mat-datepicker #startpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End</mat-label>
    <input matInput placeholder="date" formControlName="timestampEnd" [matDatepicker]="endpicker">
    <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
    <mat-datepicker #endpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Url" formControlName="url">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Thumbnail Url" formControlName="urlThumb">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!nForm.valid">Submit</button>
</form>
