<!-- <mat-grid-list cols="4" rowHeight="128px">
  <mat-spinner *ngIf="media.length === 0"></mat-spinner>
  <mat-grid-tile id="{{m._id}}" (click)="printHi()" *ngFor="let m of media">
    <div>
        <img src="{{m.urlthumb}}" alt="Image" />
    </div>
  </mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="media-row" (click)="printHi()" *ngFor="let m of temp(math.ceil(media.length/2)).fill(); let i = index">
  <a *ngFor="let item of media.slice(2*i,2*i + 2);">
    <img src="{{item.urlthumb}}" alt="Image" />
  </a>
</div> -->
<div class="grid">
  <div *ngFor="let m of media" class="module">
    <!-- <a href="/media/{{m.sha1}}"> -->
      <img src="{{m.urlthumb}}" alt="{{m.urlthumb}}" [routerLink]="'/media/'+m.sha1+'_'+m.id"/>
    <!-- </a> -->
  </div>
</div>
