<div class="align-center">
  <div class="example-container">
    <form [formGroup]="loginForm" (ngSubmit)="submitlForm()">
      <mat-form-field>
        <input matInput placeholder="Username" formControlName="username" minlength="1">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="show ? 'text' : 'password'"
          formControlName="password" minlength="1">
        <button mat-icon-button matSuffix (click)="show = !show" [attr.aria-label]="'Show password'"
          [attr.aria-pressed]="show">
          <mat-icon>{{show ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
  </div>
</div>
