mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}

.input-first {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.input-last {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
