<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h2>Groups</h2>
        </div>
      </div>
      <div class="row usergroup-row" *ngFor="let g of groups">
        <div class="col-md-12">
          <mat-card class="usergroup-card">
            <mat-card-title>
              <div class="float-left">{{ g.title }}</div>
              <div class="float-right" *ngIf="isOwner(g.creator)">
                <button mat-icon-button aria-label="Add User" (click)="currentGroup = g.id"
                  *ngIf="currentGroup !== g.id">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button aria-label="Add User" (click)="currentGroup = ''" *ngIf="currentGroup === g.id">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="float-none"></div><br>
            </mat-card-title>
            <mat-card-subtitle>
              Owner: {{ g.creator }}
            </mat-card-subtitle>
            <mat-card-content>
              <form (ngSubmit)="submitAddUserForm()" *ngIf="currentGroup === g.id && isOwner(g.creator)">
                <mat-form-field class="full-width-input">
                  <input matInput placeholder="Add Users" [formControl]="newUsers" required>
                  <button mat-icon-button matSuffix aria-label="submit" type="submit">
                    <mat-icon>send</mat-icon>
                  </button>
                </mat-form-field>
              </form>
              <div class="row" *ngFor="let u of g.users" class="user-row">
                <div class="col-md-12">
                  <div class="float-left">{{ u }}</div>
                  <div class="float-right" *ngIf="isOwner(g.creator)">
                    <mat-icon class="trash" aria-label="Remove" (click)="removeUserFromGroup(u, g.id)">
                      delete_outline
                    </mat-icon>
                  </div><br>
                  <div class="float-none"></div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <div class="float-left">
            <h2>Nodes</h2>
          </div>
          <div class="float-right">
            <!-- <button mat-icon-button aria-label="Add Node" (click)="nodes.unshift({title:'&lt;New Node&gt;'})"> -->
            <button mat-icon-button aria-label="Add Node" (click)="createNode()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="float-none"></div><br>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="nodeAccordion">
            <div class="card" *ngFor="let node of nodes; let i = index">
              <div class="card-header" id="heading-{{node.id}}">
                <h2 class="mb-0">
                  <button class="btn btn-block text-left" type="button" data-toggle="collapse" attr.data-target="#collapse-{{node.id}}" aria-expanded="true" attr.aria-controls="collapse-{{node.id}}" (click)="nodes[0].new = false">
                    <b>{{node.title}}</b>
                  </button>
                </h2>
              </div>

              <div id="collapse-{{node.id}}" class="collapse {{(i === 0 && node.new) ? 'show' : ''}}" attr.aria-labelledby="heading-{{node.id}}" data-parent="#nodeAccordion">
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <label for="{{node.id}}-title">Title</label>
                        <div class="input-group">
                          <input id="{{node.id}}-title" class="form-control" [value]="node.title" (input)="node.title = $event.target.value">
                        </div>
                      </div>
                      <div class="col-6">
                        <label for="{{node.id}}-type">Type</label>
                        <div class="input-group">
                          <select id="{{node.id}}-type" class="custom-select" (change)="node.type = $event.target.value">
                            <option value="web" selected>WEB</option>
                          </select>
                          <!-- <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-outline-primary" id="{{node.id}}-type-select" ngbDropdownToggle>{{node.type==null || node.type === "" ? 'Select type' : node.type}}</button>
                            <div ngbDropdownMenu aria-labelledby="typeSelect">
                              <button ngbDropdownItem (click)="node.type='web'">WEB</button>
                            </div>
                          </div> -->
                        </div>
                        <!-- <mat-form-field appearance="fill"> -->
                        <!-- <mat-form-field class="full-width-input">
                          <mat-label>Select type</mat-label>
                          <mat-select disableRipple [(value)]="node.type">
                            <mat-option value="web">WEB</mat-option>
                          </mat-select>
                        </mat-form-field> -->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <label for="{{node.id}}-api-endpoint">API Endpoint</label>
                        <div class="input-group">
                          <input id="{{node.id}}-api-endpoint" class="form-control" [value]="node.APIEndpoint == null ? '' : node.APIEndpoint" (input)="node.APIEndpoint = $event.target.value">
                        </div>
                      </div>
                    </div>
                    <div class="row" *ngIf="node.creator === keycloakService.getUsername()">
                      <div class="col-12">
                        <label for="{{node.id}}-secret">Keycloak Secret</label>
                        <div class="input-group">
                          <input id="{{node.id}}-secret" [type]="node.shown != null && node.shown === true? 'text' : 'password'" class="form-control" [value]="node.secret" disabled>
                          <div class="input-group-append">
                            <span class="input-group-text material-icons" role="button" (click)="retrieveSecret(node)">
                              visibility
                            </span>
                            <span class="input-group-text material-icons" role="button" (click)="refreshSecret(node)">
                              refresh
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <h6 *ngFor="let group of node.groups; let i = index" class="d-inline mr-1">
                            <span class="badge badge-pill badge-secondary">
                              <label class="align-middle ml-1 mb-0 mr-1 font-14 font-weight-normal">{{group.title}}</label>
                              <!-- <span role="button" id="chip-{{i}}" class="material-icons align-middle font-20 p-1"
                                (mouseenter)="toggleChipCancel('chip-'+i)" (mouseleave)="toggleChipCancel('chip-'+i)"
                                (click)="removeGroup(group)">
                                close
                              </span> -->
                            </span>
                          </h6>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="float-right">
                          <button type="button" class="btn btn-outline-secondary mr-2 material-icons" (click)="openGroupNodeModal(node)" ngbTooltip="map group access">group_add</button>
                          <button type="button" class="btn btn-outline-success mr-2" (click)="saveNode(i)">Save</button>
                          <button type="button" class="btn btn-outline-danger" (click)="deleteNode(i)">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
