<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-12">
          <h2>Groups</h2>
        </div>
      </div>
      <div class="row usergroup-row" *ngFor="let g of groups">
        <div class="col-md-12">
          <mat-card class="usergroup-card">
            <mat-card-title>
              <div class="float-left">{{ g.title }}</div>
              <div class="float-right">
                <button mat-icon-button aria-label="Add User" (click)="currentGroup = g.id"
                  *ngIf="currentGroup !== g.id">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button aria-label="Add User" (click)="currentGroup = ''"
                  *ngIf="currentGroup === g.id">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="float-none"></div><br>
            </mat-card-title>
            <mat-card-subtitle>
              Owner: {{ g.creator }}
            </mat-card-subtitle>
            <mat-card-content>
              <form (ngSubmit)="submitAddUserForm()" *ngIf="currentGroup === g.id">
                <mat-form-field class="full-width-input">
                  <input matInput placeholder="Add Users" [formControl]="newUsers" required>
                  <button mat-icon-button matSuffix aria-label="submit" type="submit">
                    <mat-icon>send</mat-icon></button>
                </mat-form-field>
              </form>
              <mat-list dense>
                <mat-list-item *ngFor="let u of g.users" role="listitem">{{ u }}</mat-list-item>
              </mat-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
