.carousel-control {
  top: 63px;
  justify-content: flex-end;
  width: 7%;
  z-index: 1100;
}

.cdk-overlay-container {
  z-index: 2000;
}

span.tag {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 0px 6px 6px 0;
  font-size: 14px;
  display: inline-block;
}

form.tag-form {
  margin: 8px 0 0 0;
  display: none;
}

.comment {
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.comment .comment-profile {
  position: absolute;
  top: 4px;
  left: 4px;
  padding: 0 4px 4px 0;
}

.comment > .comment-profile > .comment-profile-img {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.comment .comment-content {
  padding: 4px 0px;
  margin-left: 50px;
  white-space: pre-wrap;
}

.comment .comment-footer {
  margin-left: 50px;
  font-size: 12px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.edit-description:hover {
  cursor: pointer;
  color: lightskyblue;
}

.edit-button {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}
.edit-button:active {
  background-color: lightgrey;
}

.tag-button {
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
}

.edit-button:active {
  background-color: lightgrey;
}

.tag-chip {
  cursor: pointer;
}

.badge-list:first-child {
  margin-left: 0px;
}

.badge-list {
  margin-left: 3px;
}

.vg-download {
  color: white;
  margin-left: 15px;
}

.vg-download:hover {
  color: white;
  text-decoration: none;
}

.vg-download > div {
  height: 50px;
  width: 50px;
  line-height: 20px;
  display: table;
}

.vg-download > div > span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  font-size: 20px;
  padding-top: 2px;
}

.vg-control-text {
  line-height: 45px;
  color: white;
}
