<h1 mat-dialog-title>Add Tags</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="full-width-input">
      <mat-chip-list #tagList aria-label="Tag selection">
        <mat-chip
          *ngFor="let tag of localTags"
          [selectable]="false"
          [removable]="true"
          (removed)="removeTag(tag)">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          #tagInput
          placeholder="Add Tag..."
          [formControl]="tagCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="tagList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
      <mat-autocomplete autoActivateFirstOption #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
        <mat-option *ngFor="let tag of tagAutoComplete$ | async; let index = index" [value]="tag.name">
          {{ tag.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button class="float-right" (click)="onNoClick()">Close</button>
  <button mat-button class="float-right" (click)="addTags()">Save</button>
</div>
