/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.full-width-input {
  width: 100%;
}

.container-xl {
  max-width: 1614px;
}

html, body {
  /* height: 100%; */
  padding-top: 35px;
  /* needed to prevent viewport movement on ngb-modal-open */
  padding-right: 0px !important;
}

.modal-open {
  overflow: visible;
}

.font-14 {
  font-size: 14px;
}

.font-20 {
  font-size: 20px;
}

.scrollable-content{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
}
